body{
    background-color: rgb(58, 73, 73);

    color:white;

   
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.outer-circle{
    margin-left: 10px;
    margin-top: 20px;
    background-color:rgb(157, 188, 180);
    width:250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.inner-circle{
    position:relative;
    background-color:  rgb(58, 73, 73);
    width:230px;
    height: 230px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.text{
    /* color:rgb(157, 188, 180); */
    font-size: 27px;
}
.minute{
    font-size: 48px;
}
.sec{
    font-size: 43px;
}
.msec{
    font-size: 25px;
}
.button-wrapper{
    width:280px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.button{
    width: 70px;
    height:50px;
    background-color:rgb(157, 188, 180);
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(33, 55, 55);
    color: white;
    
}
.laps{
    list-style: none;
    height: 220px;
    position:relative;
    overflow: auto;
    width:280px;
    margin:20px;

}
.laps::-webkit-scrollbar{
    display: none;
}
.lap-item{
    width: 80%;
    display: inline-block;
    border:1px solid #727171;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 15px;
}


.number{
    color:#8d8a8a
}
.lap-clear-button{
    display: block;
    position: fixed;
    z-index: 1000;
    bottom:10px;
    left:50%;
    transform: translate(-50%);
    width:140px;
padding: 15px 0;

border-radius: 50px;
background-color:rgb(80, 80, 80) ;
color: white;


}
.lap-clear-button:hover{
    background-color:rgb(30, 30, 30) ;

}
.hidden{
    visibility: hidden;
}